.img-fluid{
    max-width: 100%;
    height: auto;
}
.breadcrumb {
    background-color: #ffffff;
}
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    color: #000;
}
.breadcrumb .breadcrumb_iner {
    height: 0;
}
.menu_fixed {
    background-color: #000000;
}
.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(29 29 29);
    z-index: 0;
    transform: skewY(8deg);
    transform-origin: top right;
  }
  .banner_part {
    background-image: none;
}
.banner_part .banner_text .banner_text_iner {
    padding-top: 0px;
}
.banner_part .banner_text h1 {
color: #ffffff;
}
.banner_part .banner_text p {
    color: white;
}
.btn_1 {
    color: #ffffff;
}
.btn_2 {
    background-color: #0FB2B7;
    border: 2px solid #0FB2B7;
}
.main_menu .main-menu-item ul li .nav-link:hover {
    color: #0FB2B7;
}
.section_padding {
    padding: 40px 0px;
}
.footer_part {
    background-color: black !important;
    padding: 24px 0px 25px;
}
.footer_part .copyright_text p {
    color: #fff;
}
.footer_part {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 0px 25px;
}
.footer_part .footer_icon li a :hover {
    color: #0FB2B7;
}
.form-contact .form-group .btn_1 i {
    background-color: #0FB2B7;
}
.footer_part .copyright_text p a:hover {
    color: #0FB2B7;
}
.footer_part .copyright_text p a {
    color: #0FB2B7 !important;
}
.btn_2:hover {
    color: #0FB2B7 !important;
    border: 2px solid #0FB2B7;
    background-color: transparent;
  }
  .Section2_AboutUs{
      padding-top: 160px;
  }
  .review_part .owl-dots button.owl-dot.active {
    background-color:  #0FB2B7;
}
.mobile_info{
    margin-top: 40px;
}
.logo-img{
    width: 70px;
}
.menu_icon:after {
    color: #ffffff;
}
canvas{
    filter: blur(1px);
  }